/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #016dcb;
}

/* headings */

h1{
    color: #fff;
    font-size:300%;
}

h2{
    color: #fff;
    font-size:200%;
}

h3{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    margin-bottom: 15px;
}

h4{
    color: #fff;
    font-size: 150%;
}
h5{
    color:#016dcb;
    font-size: 95%;
    font-weight:lighter;
    align-self: center;
}

h6{
    font-size: 14px;
    font-weight: 400;
    color:#016dcb;
}

/* alignments & layout */
.details{
    width: 65%;
    position: absolute;
    top:400px;
    padding: 15px;
    margin:40 px;
    align-items: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
.description-main{
    width:100%;
    padding:20px;
    position: absolute;
    top: 70px;
    margin: 30px;

}
.upload-area{
    width: 60%;
    background: #FFF;
    margin: 40px;
    padding: 40px 20px 40px 20px;
    border-radius: 6px; 
    position:relative;
    top:150px;
    left: 20%;
    right: 20%;
    height:16em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select-images{
    width: 80%;
    margin: 50px;
    padding: 40px 10px 40px 10px;
    position: absolute;
    right: 50px;
    top:75px;
    height:18em;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, 270%);
  }


label{
    color: #f5f5f5;
    font-size: medium;
    font-weight: 300;
    align-self: flex-start;
    margin: 20px 10px 5px 10px ;
    display: block;
}
.right-align{
    float:right;
    
}

.details .input{
    height: 45px;
    width: 150% !important;
    /* position: relative; */
    font-size: 16px;
    font-weight: 400;
    border: 1px solid#CACACA;
    border-radius: 6px;
    outline: none;
    padding: 0 12px;
    margin: 10px;
    max-width: 600px;
}

.center-align{
    position: absolute;
    right: 50%;
    transform: translate(50%, 5%);
    
}

.normal-padd{
    padding: 15px;
    margin: 10px;
}

.extra{
    position: relative;
    top: 24px;
    padding: 15px;
    margin: 20px 10px ;
    /* margin-top: 50px; */
}


/* section (div) properties, layout */

.header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top:0;
    left: 0;
    height: auto;
    font-size: x-large;
    padding: 10px 10px;

}
.reqH1{
    padding: 20px;
}

.description{
    width:50%;
    padding:20px;
    position: absolute;
    top: 70px;
    left: 0;
    margin: 30px;

}

.requests{
    margin-top: 70px;
    margin-left: 20px;
}

.design{
    width:50%;
    padding:10px;
    position: absolute;
    left: 150px;
    top: 250px;
    height:auto;
    margin:15px;
}

.column-left{
    width: 50%;
    float: left;
}

.column-right{
    width: 50%;
    float: right;
}

.mainpagefunctions{
    position: absolute;
    top: 150px;
    right: 30px;
    width: 45%;
    padding: 15px 15px;
    display: flex;
    flex-wrap:wrap; 
    justify-content:first baseline; 
    /* align-items: center; */
    text-align: center;
    flex-shrink: 1; 
}

#editordiv{
    position: relative ;
    top: 80px;
    display: flex;
    width: 60%;
    /* margin-top: 100px; */
    margin: 100px 30px ;
    justify-content:space-between;
    align-content: center;

}
#editor{
    margin-top: 50px;
    margin-left: 50px;
    display: block;
    width:80%;
}
#editorbutton{
    width: 200px;
    padding: 10px 10px;
}

.galllery{
    width: 30%;
    /* margin: 1.6666666%; */
    margin: calc(10%/6);
    border: 1px solid white;
}
.gallerydiv{
    margin-top: 200px;
}
/* text properties */

.logo{
    color: #016dcb;
    font-weight:900;
    font-size: 30px;
    float: left;
}

.heading p {
    color: rgb(223, 219, 219);
}


/* additional components */

/* buttons */
button{
    text-align: center;
    justify-content: center;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    border: none; 
} 

button.normal{
    padding: 8px 13px;
    border-radius: 0.5em;
    margin: 5px;
}

button.tile{
    padding: 45px 45px;
    border-radius: 1em;
    margin: 30px;
}

button.small{
    font-size: medium;
    width:max-content;
    height: auto;

}

button.medium{
    font-size: large;
    width: max-content;
    height: 100%;
}

button.large{
    font-size: x-large;
    width: 8em;
    height:7em;

}

button.var1{
    background-color: #fff;
    color: #016dcb;

}

button.var2{
    background-color: #016dcb;
    color: #fff;
    border:#fff;
    border-width: 0.3em;
}

.help-button{
    position: relative;
    left: 34%;
    margin-top: 50px !important;
}
.reqbutton{
    margin:20px;
}

.requestListItem{
    padding: 20px;
}
.reqlistitemButton{
    margin-top: 60px;
    margin-right: 10px;
    padding-right: 10px;
}

#requests{
    display: none;
}
button.tile:hover{
  background-color:#F7D0E2;
  transform: translateY(-0.25em);
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #000000;
}

button.normal:hover{
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em #000000;
}

.search-bar{
    display: flex;
    position: absolute;
    right:85px;
    top: 8px;
    padding: 8px;
      
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 32px;
    width: 80%;
    padding: 10px 35px 10px 30px;
    outline: 0;
    background-color: #f5f5f5;
    margin: 5px;

}

  .search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

form{
    padding-right: 20px;
    height: fit-content;
}

#displayname{
    visibility: hidden;
}

.box{
    background: #FFF;
    margin: 20px;
    padding: 10px 10px 40px 10px;
    border-radius: 6px;
    float: right;
    position: relative;
    right: 50px;
    top:70px;
    width: 100%;
    max-width: 500px;
    height:fit-content;
}


.input{
    height: 50px;
    width: 100%;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid#CACACA;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    margin: 10px;
}


.input:focus{
    border-bottom-width: 2px;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}


/* icons and images */
.eye-icon{
    position: relative;
    bottom: 47px;
    left: 435px;
    size: 150%;
    /* padding: 5px; */
    color: #8b8b8b;
    /* margin-right:30px;  */
    cursor: pointer;
}

img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    object-fit: cover;
}

img.vector-img{
    height:auto;
    width: auto;
    padding: 10px;
    margin: 10px;
}

.search-icon {
    position: relative;
    left: 38px;
    width: 16px;
    margin: 10px 10px 10px 10px;
  }

.clear-icon {
    position: relative;
    right: 25px;
    width: 16px;
    cursor: pointer;
    visibility: hidden;
}

/* links */

.forgot-pass{
    text-align: right;
    margin: 10px 4px 10px 10px;
    transform:  translate(0, -25px);
}

a{
    color: #0171d3;
    text-decoration: none;
    margin-left: 5px;
}

a:hover{
    color: #000000;
    cursor: pointer;
    
}


a.google{
    border: 1px solid #CACACA;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}



.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    .column-left,  .column-right{
        width: 100%;
    }
    
}