@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

.Authentication {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.patients{
  border-color: black;
  border-width: 10px;
  background-color: rgba(75, 110, 222, 0.671);
}

.patient-glucose{
  height:100px;
  background-color: aqua;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  border-radius: 5px;
  transition: background-color 200ms ease-in-out;
}

.patient-glucose:hover{
  background-color: rgb(33, 134, 174);
}