# Template specific files
*.sh
_site/
.jekyll-metadata
Gemfile.lock
Gemfile

# Add your own files to be ignored from git in here
.expo/

# macOS
.DS_Store

# ignore node_modules directory
node_modules/

# ignore environment configuration file
# template for '.env' files is available in the 'env_example.txt' file
.env

